.terraform/
.terraform/modules/ec2/terraform.tfvars
.terraform/modules/vpc/terraform.tfvars
.terraform/modules/load-balancer/terraform.tfvars
.terraform/modules/security-group/terraform.tfvars
.terraform/modules/key-pair/terraform.tfvars